@import url(bootstrap.css);

/* ============ FIXED PATTERNS ============ */

body {
	margin: 0px;
	padding: 0px;
	background-color: #EEE;
}

h1 {
	border-bottom: 1px solid #000F1E;
	padding-bottom: 5px;
	margin-top: 10px;
}

/* ============ TOP ============ */

.top {
	text-align: right;
	padding: 10px 10px 10px 0px;
	border-bottom: 1px solid #000F1E;
	background-color: #000F1E;
	color: #FFF;
}

.top a {
	text-decoration: none;
	color: #FFF;
}

.top a:hover {
	color: #009BFF;
}

/* ============ MID ============ */

.main {
	display: flex;
	flex-wrap: nowrap;
}

/* ====== MENU ====== */

.menu {
	background-color: #000F1E;
	width: 15%;
	border-bottom-right-radius: 10px;
	padding-bottom: 10px;
}

.menu ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.menu li {
	padding: 10px 15px 10px 15px;
}

.menu li:hover {
	background-color: #009BFF;
}

.menu a {
	color: #FFF;
	text-decoration: none;
}

.menu a:hover {
	color: #000F1E;
}

/* ====== CONTENT ====== */

.content {
	width: 85%;
	padding: 0px 20px 20px 20px
}

/* Adicionar categorias */
.add_category {
	margin-top: 50px;
	margin-bottom: 50px;
	display: none;
}

.button {
	background-color: #000F1E;
	color: #FFF;
	border-radius: 50px;
	width: 200px;
	padding: 10px;
	text-align: center;
}

.button:hover {
	color: #FFF;
	text-decoration: none;
}

/* Cadastrar produtos */
.add_product {
	margin-top: 30px;
	border: 1px solid #000;
	border-radius: 5px;
	padding: 10px;
}

#isRegistered {
	padding-top: 33px;
}

.not-registered {
	color: #a94442;
}

.registered {
	color: #3c763d;
}

.product-info {
	margin-top: 30px;
}

.product-info h4 {
	margin-bottom: -10px;
	font-weight: bold;
	color: #3c763d;
}

/* Lista de produtos */
.products-filter {
	margin-top: 50px;
	margin-bottom: 50px;
	color: #FFF;
}

.products-filter ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.products-filter li {
	margin: 10px;
	background-color: #000F1E;
	padding: 10px 10px 5px 10px;
	border-radius: 15px;
}

.products-filter p {
	margin-top: 20px;
}

.products-filter-checked {
	background-color: #009BFF !important;
}

.no-products {
	text-align: center;
	font-size: 16px;
	font-style: italic;
	color: #888;
	padding-top: 20px;
}

.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-header a {
	text-decoration: none;
	color: #FFF;
}

.card-header a:hover {
	color: #FFF;
}

.card-title {
	padding-top: 10px;
}